
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
h1{
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    color: #000;
    margin: 25px 0;
}
h2{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #000;
    margin: 20px 0;
}
h3{
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin: 15px 0;
}
h4{
    font-weight: 600;
    font-size: 24px;
    color: #000;
    margin: 10px 0;
}
p{
    color: #3E3E3E;
}
img{
    width: 100%;
}
section{
    margin: 2% 10%;
    margin-bottom: 150px;
}
.width-55{
    width: 55%;
}
.width-40{
    width: 40%;
}
.flex{
    display: flex;
}

/* banner-area */
.banner-text-container{
    width: 60%;
    margin-right: 5%;
}
.banner-image-container{
    width: 35%;
}
.banner-text-container h1{
    border-left: 4px solid #FF5959;
    padding-left: 15px;
}
.color-orange{
    color: #ffad5a;
}
.link-button{
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #FF5959;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

/* mission-area */
.mission-area-item{
    width: 32%;
    margin-right: 2%;
    border-radius: 15px;
    padding: 15px;
}
.mission-area-item:last-child{
    margin-right: 0;
}
.item1{
    background-color: #edf5f6;
}
.item2{
    background-color: #ffeeee;
}
.item3{
    background-color: #fff4d6;
}
.mission-area-item img{
    max-width: 150px;
}

/* develop-area */
.develop-area{
}
.develop-area-image{
    margin-right: 5%;
}

/* global-comunity-area */
.global-comunity-area-image{
    margin-left: 5%;
}

/* my-recent-projects-area */
.projects-area h2 {
    margin-bottom: 25px;
}
.projects{
    width: 45%;
    margin-right: 10%;
    box-shadow: 0 20px 40px #437cbd;
    border-radius: 30px;
    overflow: hidden;
}
.projects:last-child{
    margin-right: 0;
}

/* footer */
footer{
    background-color: #000;
    text-align: center;
    padding: 20px 50px;
    
}
footer h3{
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
}
footer p{
    color: #d9dbe1;
}